body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App-intro {
  margin-top: 30px;
}

.result {
  font-size: 0.6em;
  border: 1px solid #ddd;
  width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px;
}
